**Función input**

In [ ]:
print("Ingrese su nombre")
nombre = input()
print("Su nombre es:")
print(nombre)

**Función input – tipo por defecto (error)**

In [ ]:
edad = input("Ingrese su edad: ")
mitadDeEdad = edad/2
print(mitadDeEdad)

**Función int**

In [ ]:
numStr = "10"
print(type(numStr)) # Resultado str
numInt = int(numStr)
print(type(numInt)) # Resultado int

**Función float**

In [ ]:
numStr = "3.14"
print(type(numStr)) # Resultado str
numFloat = float(numStr)
print(type(numFloat)) # Resultado float

**Función str**

In [ ]:
numInt = 42
print(type(numInt)) # Resultado int
numStr = str(numInt)
print(type(numStr)) # Resultado str

**Función input y conversión de tipo**

In [ ]:
edad = int(input("Ingrese su edad: "))
mitadDeEdad = edad/2
print(mitadDeEdad)

**Funciones int, float y str**

In [ ]:
edadPadre = input("Ingrese edad: ")
edadMadre = int(input("Ingrese edad: "))
estaturaPadre = float(input("Ingrese estatura: "))
print(type(edadPadre))
print(type(edadMadre))
print(type(estaturaPadre))
print(edadPadre)
print(edadMadre)
print(estaturaPadre)

**Función print**

In [ ]:
nombre = "Paola"
edad = 30
print("Nombre: ")
print(nombre)
print("Edad: ")
print(edad)

**Concatenación de datos en salida por pantalla (error)**

In [ ]:
nombreProducto = "Televisor"
precioProducto = 200
print("Nombre: "+nombreProducto)
print("Precio: "+precioProducto)

**Concatenación de datos en salida por pantalla**

In [ ]:
nombreProducto = "Televisor"
precioProducto = 200
print("Nombre: "+nombreProducto)
print("Precio: "+str(precioProducto))

**Concatenación con comas**

In [ ]:
nombreProducto = "Televisor"
precioProducto = 200
print("Nombre:",nombreProducto,"- Precio:",precioProducto)

**Ejercicio 1**

In [ ]:
nombre = input("Ingrese el nombre: ")
apellido = input("Ingrese el apellido: ")
print(apellido + " " + nombre)

**Ejercicio 2**

In [ ]:
anios = float(input("Ingrese el número de años: "))
mitadAnios = anios/2
print("El asteroide caerá en: " + str(mitadAnios) + " años")

**Reto de programación 1**

In [ ]:
edadRichard = 73
edadJeff = 59
edadElon = 52
sumaEdades = edadRichard + edadJeff + edadElon
promedioEdades = sumaEdades/3
print(promedioEdades)

**Reto de programación 2**

In [ ]:
nombre = input("Ingrese su nombre: ")
edad = int(input("Ingrese su edad: "))
estatura = float(input("Ingrese su estatura: "))

print("Mi nombre es: " + nombre)
print("Mi edad es: " + str(edad))
print("Mi estatura es: " + str(estatura))