**Definición de variable**

In [ ]:
edad = 17

**Tipos de variables**

In [ ]:
nombre = "Maria"
edad = 17
estatura = 1.61

**Impresión de variables**

In [ ]:
nombre = "Maria"
edad = 17
estatura = 1.61

print(nombre)
print(edad)
print(estatura)

**Definición errónea de variable**

In [ ]:
edad = 17
print(edadd)

**Modificando el valor de una variable**

In [ ]:
precioProducto = 150
print(precioProducto)
precioProducto = 250
print(precioProducto)

**Modificando el valor y el tipo de una variable**

In [ ]:
precioProducto = 150
print(precioProducto)
precioProducto = 250.5
print(precioProducto)

**Reutilizando variables para definir nuevas variables**

In [ ]:
edadLuis = 10
edadLaura = 20
sumaEdades = edadLuis + edadLaura
promedioEdades = sumaEdades/2
print(promedioEdades)

**Función type**

In [ ]:
precioProducto = 150
print(type(precioProducto))
precioProducto = 250.5
print(type(precioProducto))

**Comentarios en Python**

In [ ]:
# La siguiente línea representa el salario mensual de una persona
salario = 1000

""" Dividiremos el salario entre 2, para repartirlo entre los integrantes
de la familia y mostraremos el resultado por pantalla """
print(salario/2)