**Acumuladores con listas**

In [ ]:
salarios = [3000, 1500, 800]

acumuladorSalarios = 0
i = 0
while(i < len(salarios)):
  acumuladorSalarios = acumuladorSalarios+salarios[i]
  i = i+1

print("Total suma de salarios: "+str(acumuladorSalarios))

**Acumuladores con listas que contienen diccionarios**

In [ ]:
ciudad1 = {"nombre":"Envigado", "habitantes": 249800}
ciudad2 = {"nombre":"Sabaneta", "habitantes": 87981}
ciudad3 = {"nombre":"Rionegro", "habitantes": 147484}

ciudades = [ciudad1, ciudad2, ciudad3]
acumulador = 0

for ciudad in ciudades:
  acumulador = acumulador+ciudad["habitantes"]

promedio = acumulador/len(ciudades)
print("Promedio de habitantes: "+str(promedio))

**Contadores con listas**

In [ ]:
edades = [34, 50, 28, 20, 44]

contadorMayores30 = 0
i = 0
while(i < len(edades)):
  if(edades[i] > 30):
    contadorMayores30 = contadorMayores30+1
  i = i+1

print("Total mayores de 30: "+str(contadorMayores30))

**Contadores con listas que contienen diccionarios**

In [ ]:
ciudad1 = {"nombre":"Envigado", "habitantes": 249800}
ciudad2 = {"nombre":"Sabaneta", "habitantes": 87981}
ciudad3 = {"nombre":"Rionegro", "habitantes": 147484}

ciudades = [ciudad1, ciudad2, ciudad3]
contador = 0

for ciudad in ciudades:
  if(ciudad["habitantes"] > 90000):
    contador = contador+1

print("Más de 90000 habitantes: "+str(contador))

**Banderas**

In [ ]:
notas = [4.0, 2.0, 1.2, 4.7, 1.7]
banderaNotaAlta = False

for nota in notas:
  if(nota > 4.5):
    banderaNotaAlta = True
    break

if(banderaNotaAlta):
  print("Sacaste por lo menos una nota alta")
else:
  print("No sacaste notas altas")

**Ejercicio 1**

In [ ]:
a1 = {"nombre":"2022 HX1", "distancia":2490000}
a2 = {"nombre":"2022 HA2", "distancia":4620000}
a3 = {"nombre":"101955 Bennu", "distancia":32490000}
asteroides = [a1, a2, a3]

contador = 0
for asteroide in asteroides:
  if(asteroide["distancia"] < 7500000):
    contador = contador+1

print("Asteroides con alta probabilidad de colisión: "+str(contador))

**Ejercicio 2**

In [ ]:
a1 = {"nombre":"2022 HX1", "distancia":2490000}
a2 = {"nombre":"2022 HA2", "distancia":4620000}
a3 = {"nombre":"101955 Bennu", "distancia":32490000}
asteroides = [a1, a2, a3]

acumulador = 0
for asteroide in asteroides:
  acumulador = acumulador+asteroide["distancia"]

promedio = acumulador/len(asteroides)
print("Promedio de distancia de asteroides: "+str(promedio))

**Reto 7**

In [ ]:
vehiculo1 = {"tipo":"moto", "precio":20000}
vehiculo2 = {"tipo":"carro", "precio":35000}
vehiculo3 = {"tipo":"carro", "precio":46000}
vehiculo4 = {"tipo":"moto", "precio":12000}
vehiculo5 = {"tipo":"carro", "precio":52000}

listaVehiculos = [vehiculo1, vehiculo2, vehiculo3, vehiculo4, vehiculo5]

contadorCarros = 0
contadorMotos = 0
valorVehiculos = 0
valorMotos = 0
valorCarros = 0
i = 0
while(i < len(listaVehiculos)):
  if(listaVehiculos[i]["tipo"] == "carro"):
    contadorCarros = contadorCarros+1
    valorCarros = valorCarros+listaVehiculos[i]["precio"]
  else:
    contadorMotos = contadorMotos+1
    valorMotos = valorMotos+listaVehiculos[i]["precio"]

  valorVehiculos = valorVehiculos+listaVehiculos[i]["precio"]
  i = i+1

print("Cantidad de carros: "+str(contadorCarros))
print("Cantidad de motos: "+str(contadorMotos))
print("Valor vehículos: "+str(valorVehiculos))
print("Valor motos: "+str(valorMotos))
print("Precio promedio carros: "+str(valorCarros/contadorCarros))