**Programando nuestro primer ciclo for**

In [ ]:
edades = [25, 7, 39]

for edad in edades:
  print(edad)

print("Fin programa")

**Ciclo for con textos**

In [ ]:
mensaje = "Hola Ana"

for caracter in mensaje:
  print(caracter)

**Ciclo for con diccionarios**

In [ ]:
ciclista = {"nombre":"Egan", "apellido":"Bernal", "tipo":"Escalador"}

for clave in ciclista:
  print(clave+": "+ciclista[clave])

**Ciclo for con listas que contienen diccionarios**

In [ ]:
discoteca1 = {"nombre":"Perro negro", "ubicación":"Poblado"}
discoteca2 = {"nombre":"Teatro victoria", "ubicación":"Poblado"}

discotecas = [discoteca1, discoteca2]

for discoteca in discotecas:
  print(discoteca["nombre"]+" - "+discoteca["ubicación"])

**Imprimir lista de números**

In [ ]:
numeros = [1, 2, 3, 4, 5]

for numero in numeros:
  print(numero)

**Función range con un sólo argumento**

In [ ]:
for numero in range(6):
  print(numero)

**Función range con múltiples argumentos**

In [ ]:
for numero in range(1, 7, 2):
  print(numero)

**Ejercicio 1.i**

In [ ]:
for i in range(1,81,1):
  print(i)

**Ejercicio 1.ii**

In [ ]:
for i in range(1000,-1,-100):
  print(i)

**Ejercicio 1.iii**

In [ ]:
for i in range(2,67,2):
  print(i)

**Ejercicio 2**

In [ ]:
nombre1 = input("Ingrese nombre 1: ")
nombre2 = input("Ingrese nombre 2: ")
nombre3 = input("Ingrese nombre 3: ")
nombre4 = input("Ingrese nombre 4: ")

nombres = [nombre1, nombre2, nombre3, nombre4]

for nombre in nombres:
  if(nombre[0] == "L"):
    print("Nombre descartado")
  else:
    print("Nombre posible")

**Reto 6**

In [4]:
numero = int(input("Ingrese un número: "))

for i in range(numero, -1, -1):
  print(i)

Ingrese un número: 5
5
4
3
2
1
0